body {
    margin: 0;
    background-color: var(--bg-color);
}

:root {
  --core-primary: #13294B;
  --core-secondary: #00629B;
  --accent-primary: #C69214;
  --accent-secondary: #FFCD00;
  --bg-color: white;
  --bg-accent: #E9E9E9;
  --text-color: black;
  --text-secondary: #C69214;
  --text-muted: #858585;
  --banner-bg-color: white;
  --banner-text-color: #ffffff;
  --gold-line-color: #C69214;
  --box-shadow-light: rgba(0, 0, 0, 0.2);
  --box-shadow-dark: rgba(0, 0, 0, 0.6);
  --box-shadow-hover-light: rgba(0, 0, 0, 0.4);
  --box-shadow-hover-dark: rgba(255, 255, 255, 0.4);
}

.tooltip {
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    transform: translateY(-100%);
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
.tooltip.show {
    opacity: 1;
  }
  
  