<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" href="/static/favicon.ico"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"><title>vue-dev</title><script>function setClientSession() {
        const sessionParams = {{ session_params | tojson }}
        const contextData = {{ data | tojson }}

        window.contextData = contextData

        if (sessionParams) {
          const storageTarget = contextData.storage_target
          let platformOrigin = new URL(contextData.oidc_auth_domain).origin
          console.log(platformOrigin)
          let parent = window.parent || window.opener
          let targetFrame = storageTarget === "_parent" ? parent : parent.frames[storageTarget];
  
          const messageId = crypto.randomUUID()
  
          targetFrame.postMessage({
              "subject": "lti.put_data",
              "message_id": messageId,
              "key": "aspire_session_id",
              "value": sessionParams.session_id
          }, platformOrigin)
        }
    }

      setClientSession()</script><script defer="defer" src="/static/js/chunk-vendors.2fa1cb50.js"></script><script defer="defer" src="/static/js/app.0b92bba7.js"></script><link href="/static/css/app.bde83c6c.css" rel="stylesheet"></head><body><noscript><strong>We're sorry but vue-dev doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div></body></html>